

html {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #666666;
    background-image: url('https://freerangestock.com/sample/140321/red-christmas-background.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo {
     text-align: center;
}

.holdiaysAnnouncement {
     text-align: center;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: grey;
  border: 2px solid red;
}

.chrima {
        text-align: center;
}

.chrismas {
    display: flex;
    flex-direction: column;
        text-align: center;

}

.kfc {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.kfcChrismas {
   display: flex;
    flex-direction: column;
        text-align: center; 
}

.kramp {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.krampus {
    display: flex;
    flex-direction: column;
        text-align: center; 
}

.copyright {
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    color: #c5b358;
    display: block;
    text-align: center; 
}

.bmj {
    width: 3rem;
    height: 3rem;
     display: flex;
    justify-content: center;
     
}

.relative {
    postion: relative;
    
}